@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora');

body {
	background-color: #000;
	font-size: 16px;
	font-family: Helvetica;
	text-align: center;
	color: #fff;
}
h1{
	font-size: 30px;
	font-family: 'Abril Fatface', cursive;
}
#slogan{
	font-style: italic;
	font-style: bold;
	font-size: 16px;
}
hr {
	width: 800px;
	margin:2em;
}
p{
	font-family:'Lora', serif;
	font-size: 1em;
	width: 30em;
	text-align: center;
}
section{
	font-size: 14px;
	text-decoration: underline;
	color: eb35e3;	
}

