@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora');

body {
	background-color: #000;
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #fff;
}
h1{
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
}
h2 #slogan{
	font-style: italic;
	font-style: bold;
	font-size: 20px;
	line-height: 1em;
}
hr {
	margin: auto;
}
p{
	font-family:'Lora', serif;
	font-size: 1em;
	width: 30em;
	margin: auto;
	padding: 50px;
}
h3{
	font-size: 14px;
	text-decoration: underline;
	color: eb35e3;	
}

