@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #000;
	font-size: 16px;
	font-family:'Lora', serif;
	color: #efefef;
	text-align: center;
}

nav {
	background: #e7c149;
}

nav a {
	display: inline-block;
	padding: 1em 1.5em;
	color: #000;
	border-right: .25em solid #000;
	/* border-left: .25em solid; */
}

nav a:hover { 
  background-color: #e5d4aa; 
}

section {
	padding:5em 0;
}
.logo {
	font-size: 60px;
	font-family: 'Abril Fatface', cursive;
}

#slogan{
	font-style: italic;
	font-style: bold;
	font-size: 30px;
	line-height: .25em;
	padding-bottom: 20px;
}

h1{
	font-size: 40px;
	font-family: 'Abril Fatface', cursive;
}
h2{
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	font-variant: bold;
}
#intro .cta{
	background:url(../images/luxexchangepurses2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	/* color: #333; */
	height: 75vh;
	font-style: italic;
	font-style: bold;
	font-size: 25px;
}

#about #two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
    background-color: #e7c149;
    border: 2px white solid;
    color: #000;
    padding: 4em;
    float: left;
    width: 64.66%;
    margin-right: 2%;
}

#right {
    background-color: #e7c149;
    border: 2px white solid;
    float: left;
    width: 33.33%;
}

footer {
	font-size: 14px
}

#new-arrivals img {
    width: 25%;
    float: left;
    padding: .25em;
}

section#new-arrivals {
    max-width: 60em;
    margin: auto;
}

#about {
    max-width: 60em;
    margin: auto;
}

nav a:first-of-type {
    border-left: .25em solid #000;
}