@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora');

body {
	background-color: #000;
	font-size: 16px;
	text-align: center;
	position: relative;
	font-family: Arial;
	color: #fff;
}
div{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
h1{
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
	color:#fff;
}
h2 #slogan{
	font-style: italic;
	font-style: bold;
	font-size: 20px;
	line-height: 1em;
	color: #fff;
}

article{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
h3{
font-family: helvetica;
}
p{
	font-family:'Lora', serif;
	font-size: 1em;
	width: 30em;
	margin: auto;
	padding: 50px;
	color: #fff;

h4{
	font-size: 14px;
	text-decoration: underline;
	color: eb35e3;	
}

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;}
}

